@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: "Kanit";
    background-color: aliceblue;
    color: rgb(56, 56, 56);

}

.title {
    text-align: center;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toggle_button {
    margin-top: 15px;
}

.cards {
    text-align: center;
    border: 2px solid rgb(123, 225, 250);
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

.body {
    display: grid;
    grid-template-columns: 1fr;
}

.cities {
    text-align: center;
}

.search_box {
    width: 100%
}

.search_func {
    width: 90vw;
    text-align: center;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (min-width: 700px) {
    .search_func {
        width: 15vw
    }

    .cards {
        border: none;
    }
}